{
    "storage_path" : "/var/lib/btsync",
    "check_for_updates" : false,
    "display_new_version": false,
    "disk_low_priority" : true,
    "lan_encrypt_data" : true,
    "rate_limit_local_peers" : false,
    "folder_rescan_interval" : 600,
    "folder_defaults.delete_to_trash" : false,
    "folder_defaults.use_dht" : true,
    "folder_defaults.use_lan_broadcast" : true,
    "folder_defaults.use_relay" : true,
    "folder_defaults.use_tracker" : true,
    "folder_defaults.known_hosts" : "",
    "webui" :
    {
        "listen" : "0.0.0.0:8008",
        "login" : "{{user}}",
        "password" : "{{password}}"
    }
}
